
pre{
    margin-bottom: 0;
    counter-increment: line;
}
pre:before{
    content: counter(line);
    display: inline-block;
    width: 30px; /* Fixed width */
    border-right: 1px solid lightgrey;
    margin-right: 10px;
}


/******************
 *** Navigation ***
 ******************/
.navbar{
    height: 60px;
    padding-top: 12px;
    padding-left: 20px;
}

.my-brand img{
    max-height: 28px;
    margin-top: -9px;
}

.my-brand a{
    text-decoration: none;
    height: 100%;
}

.my-brand span{
    color: #337ab7;
    font-weight: 600;
    font-size: 24px;
    margin-left: 5px;
}

.navbar-right{
    padding-right: 20px;
}

.navbar-right a{
    margin-top: -8px;
}

.navbar-right a:hover{
    background: lightgrey;
}

.nav i{
    color: #337ab7;
    font-size: 30px;
    cursor: pointer;
}

.material-icons{
    font-weight: bold;
    transition: 1s;
}
.material-icons:hover{
    transform: rotate(90deg);
}

/******************
 *** Main ***
 ******************/
.main{
    /*position: relative;*/
    /*margin-top: 60px;*/
    /*z-index: 0;*/
}

.panel-heading{
    padding-top: 6px;
    height: 50px;
}

.panel-body{
    padding: 0;
    height: 85vh;
}

.code-viewer{
    overflow: auto;
}

.viewer-container{
    transition: 0.3s;
}


.page-viewer{
    width: 100%;
    height: 100%;
    border: none;
}


/* Button style */
.btn-code{
    margin-top: 3px;
    padding: 5px;
    height: 30px;
    width: 100px;
    background-color: #3399ff;
    color: white;
    text-align: center;
}
.btn-code:hover{
    background: #004a99;
    color: white;
}
.active-btn{
    background-color: #55ACEE;
    color: white;
}

#btn-edit-panel{
    color: whitesmoke;
    margin-left: 5px;
    padding-top: 8px;
}
#btn-edit-panel:hover{
    background: #55ACEE;
}

/******************
 *** Code Render ***
 ******************/
.html-bracket{
    color: #55ACEE;
}
.html-tag{
    color: saddlebrown;
}
.html-quotation{
    color: red;
}
.css-tag{
    color: red;
}
.css-content{
    color: dimgrey;
}
.css-brace{
    color: saddlebrown;
}
.css-attr{
    color: #55ACEE;
}