.viewer-container{
    height: 80vh;
    border: #55ACEE solid 2px;
    padding: 20px;
}

.my-iframe{
    width: 100%;
    height: 100%;
    border: #2b669a solid 2px;
    zoom: 0.1;
}

#code-viewer{
    overflow: auto;
}

#code-viewer pre{
    margin-bottom: 0;
}

.html-bracket{
    color: #55ACEE;
}
.html-tag{
    color: saddlebrown;
}
.html-quotation{
    color: red;
}